synapsews-rd/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "synapsews-rd"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureSynapseAnalyticsDF_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSynapseAnalyticsDF'"
		},
		"RainData_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'RainData'"
		},
		"dbdesigndatalake_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'dbdesigndatalake'"
		},
		"synapsews-rd-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'synapsews-rd-WorkspaceDefaultSqlServer'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://synapsedatalakerd.dfs.core.windows.net/"
		},
		"dbdesigndatalake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dbdatalakerd.dfs.core.windows.net/"
		},
		"synapsews-rd-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://synapsedatalakerd.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/CopyAllTables')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "GetAllTables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "Select \n  '[dbo].'+ QUOTENAME(name) AS TableName\nFROM sys.tables\nWHERE TYPE = 'U';",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AllTables",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "CopyEachTable",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetAllTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetAllTables').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * from @{item().TableName}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AllTables",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "AllTablesCSV",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/AllTables')]",
				"[concat(variables('workspaceId'), '/datasets/AllTablesCSV')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CopyCustomers')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "CopyCustomerData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RD_Customers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CustomerCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/RD_Customers')]",
				"[concat(variables('workspaceId'), '/datasets/CustomerCSV')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/dimproduct_in_dw')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ProductTable": {},
									"ProductCategoryTable": {},
									"SupplierTable": {},
									"dimProduct": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "dbdesigndatalake",
									"type": "LinkedServiceReference"
								},
								"folderPath": "raindata/Rawdata"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/dataflows/Dataflow1')]",
				"[concat(variables('workspaceId'), '/linkedServices/dbdesigndatalake')]",
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AllTables')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RainData",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/RainData')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AllTablesCSV')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dbdesigndatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@{item().TableName}",
							"type": "Expression"
						},
						"fileSystem": "raindata/Rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/dbdesigndatalake')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CustomerCSV')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dbdesigndatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Rawdata",
						"fileSystem": "raindata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/dbdesigndatalake')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/PCategory_in_DL')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dbdesigndatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Rawdata/[dbo].[ProductCategory]",
						"fileSystem": "raindata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/dbdesigndatalake')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Product_in_DataLake')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dbdesigndatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Rawdata/[dbo].[Product]",
						"fileSystem": "raindata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/dbdesigndatalake')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/RD_Customers')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RainData",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "ContactName",
						"type": "nvarchar"
					},
					{
						"name": "ContactTitle",
						"type": "nvarchar"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "Fax",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Customer"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/RainData')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Supplier_in_DL')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dbdesigndatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Rawdata/[dbo].[Supplier]",
						"fileSystem": "raindata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/dbdesigndatalake')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SynapseTableDimProduct')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalyticsDF",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "ProductKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SourceKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "CategoryName",
						"type": "nvarchar"
					},
					{
						"name": "QuantityPerUnit",
						"type": "nvarchar"
					},
					{
						"name": "UnitPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ReorderLevel",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Discontinued",
						"type": "bit"
					},
					{
						"name": "Supplier_CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_ContactName",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_ContactTitle",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_Address",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_City",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_Region",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_Country",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_Phone",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "dimProduct"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureSynapseAnalyticsDF')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureSynapseAnalyticsDF')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('AzureSynapseAnalyticsDF_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/RainData')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('RainData_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/dbdesigndatalake')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('dbdesigndatalake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('dbdesigndatalake_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/synapsews-rd-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('synapsews-rd-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/synapsews-rd-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('synapsews-rd-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Dataflow1')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Product_in_DataLake",
								"type": "DatasetReference"
							},
							"name": "ProductTable"
						},
						{
							"dataset": {
								"referenceName": "PCategory_in_DL",
								"type": "DatasetReference"
							},
							"name": "ProductCategoryTable"
						},
						{
							"dataset": {
								"referenceName": "Supplier_in_DL",
								"type": "DatasetReference"
							},
							"name": "SupplierTable"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SynapseTableDimProduct",
								"type": "DatasetReference"
							},
							"name": "dimProduct"
						}
					],
					"transformations": [
						{
							"name": "AddedProductKey"
						},
						{
							"name": "JoinedCategories"
						},
						{
							"name": "JoinedSuppliers"
						},
						{
							"name": "Select1"
						}
					],
					"script": "source(output(\n\t\t{_col0_} as short,\n\t\t{_col1_} as string,\n\t\t{_col2_} as short,\n\t\t{_col3_} as short,\n\t\t{_col4_} as string,\n\t\t{_col5_} as double,\n\t\t{_col6_} as short,\n\t\t{_col7_} as short,\n\t\t{_col8_} as short,\n\t\t{_col9_} as boolean\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> ProductTable\nsource(output(\n\t\t{_col0_} as short,\n\t\t{_col1_} as string,\n\t\t{_col2_} as string,\n\t\t{_col3_} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> ProductCategoryTable\nsource(output(\n\t\t{_col0_} as short,\n\t\t{_col1_} as string,\n\t\t{_col2_} as string,\n\t\t{_col3_} as string,\n\t\t{_col4_} as string,\n\t\t{_col5_} as string,\n\t\t{_col6_} as string,\n\t\t{_col7_} as string,\n\t\t{_col8_} as string,\n\t\t{_col9_} as string,\n\t\t{_col10_} as string,\n\t\t{_col11_} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> SupplierTable\nProductTable keyGenerate(output(ProductKey as long),\n\tstartAt: 1L) ~> AddedProductKey\nAddedProductKey, ProductCategoryTable join(ProductTable@{_col0_} == ProductCategoryTable@{_col0_},\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> JoinedCategories\nJoinedCategories, SupplierTable join(ProductTable@{_col2_} == SupplierTable@{_col0_},\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> JoinedSuppliers\nJoinedSuppliers select(mapColumn(\n\t\tSourceKey = ProductTable@{_col0_},\n\t\tProductName = ProductTable@{_col1_},\n\t\tQuantityPerUnit = ProductTable@{_col4_},\n\t\tUnitPrice = ProductTable@{_col5_},\n\t\tReorderLevel = ProductTable@{_col8_},\n\t\tDiscontinued = ProductTable@{_col9_},\n\t\tProductKey,\n\t\tCategoryName = ProductCategoryTable@{_col1_},\n\t\tSupplier_CompanyName = SupplierTable@{_col1_},\n\t\tSupplier_ContactName = SupplierTable@{_col2_},\n\t\tSupplier_ContactTitle = SupplierTable@{_col3_},\n\t\tSupplier_Address = SupplierTable@{_col4_},\n\t\tSupplier_City = SupplierTable@{_col5_},\n\t\tSupplier_Region = SupplierTable@{_col6_},\n\t\tSupplier_PostalCode = SupplierTable@{_col7_},\n\t\tSupplier_Country = SupplierTable@{_col8_},\n\t\tSupplier_Phone = SupplierTable@{_col9_}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nSelect1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tProductKey as integer,\n\t\tSourceKey as integer,\n\t\tProductName as string,\n\t\tCategoryName as string,\n\t\tQuantityPerUnit as string,\n\t\tUnitPrice as decimal(19,4),\n\t\tReorderLevel as integer,\n\t\tDiscontinued as boolean,\n\t\tSupplier_CompanyName as string,\n\t\tSupplier_ContactName as string,\n\t\tSupplier_ContactTitle as string,\n\t\tSupplier_Address as string,\n\t\tSupplier_City as string,\n\t\tSupplier_Region as string,\n\t\tSupplier_PostalCode as string,\n\t\tSupplier_Country as string,\n\t\tSupplier_Phone as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\ttruncate:true,\n\tformat: 'table',\n\tstaged: true,\n\tallowCopyCommand: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> dimProduct"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/Product_in_DataLake')]",
				"[concat(variables('workspaceId'), '/datasets/PCategory_in_DL')]",
				"[concat(variables('workspaceId'), '/datasets/Supplier_in_DL')]",
				"[concat(variables('workspaceId'), '/datasets/SynapseTableDimProduct')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/RD_Sales_DM')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"collation": "SQL_Latin1_General_CP1_CI_AS",
				"maxSizeBytes": 263882790666240,
				"restorePointInTime": "0001-01-01T00:00:00",
				"annotations": []
			},
			"dependsOn": [],
			"location": "eastus"
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQL script 2')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "-- Step 1\n-- Create a db master key if one does not already exist, using your own password.\n-- CREATE MASTER KEY ENCRYPTION BY PASSWORD='MyStr9ngS3cr3t';\n\n\n\n-- Step 2\n-- Create a database scoped credential.\n-- This example uses the storage accounts secret key\nCREATE DATABASE SCOPED CREDENTIAL AccessDesignbookDataLake\nWITH \n\tIDENTITY = '6a46c4aa-00cb-4162-ab87-b820e733be68@https://login.microsoftonline.com/d3c2ee31-4e3f-40d3-a8a2-24eae08837d2/oauth2/token', \n    SECRET = 'OG.7Q~NlPEeQ6YypZXP-dvtZaNsaKVffKorRM';\n\n\n\n\n-- Step 3\n-- Create an external data source\n-- TYPE: HADOOP - PolyBase uses Hadoop APIs to access data in Azure blob storage.\n-- LOCATION: Provide Azure storage account name and blob container name.\n-- CREDENTIAL: Provide the credential created in the previous step.\n\nCREATE EXTERNAL DATA SOURCE AzureStorage1\nWITH (\n    TYPE = HADOOP,\n    LOCATION = 'abfss://raindata@dbdatalakerd.dfs.core.windows.net/',\n    CREDENTIAL = AccessDesignbookDataLake\n);\n\n\n-- DROP EXTERNAL DATA SOURCE AzureStorage1;\n-- DROP DATABASE SCOPED CREDENTIAL AccessDesignbookDataLake;\n\n\n-- Create an external file format\n\nCREATE EXTERNAL FILE FORMAT TextFile \nWITH \n(\n     FORMAT_TYPE = DelimitedText\n\t , FORMAT_OPTIONS (\n\t\t\t\tFIELD_TERMINATOR = ','\n\t\t\t\t, STRING_DELIMITER = '\"') \n);\n\n\n\n\n\n--Step 4\n-- Now define external tables to read data from Order and OrderDetail\nCREATE EXTERNAL TABLE dbo.ext_Order\n(\n\tOrderID\t\t\t\tint\t\t\t\tNOT NULL\n\t, CustomerID\t\tint\t\t\t\tNULL\n\t, EmployeeID\t\tint\t\t\t\tNULL\n\t, OrderDate\t\t\tnvarchar(40)\t\t\tNULL\n\t, RequiredDate\t\tnvarchar(40)\t\t\tNULL\n\t, ShippedDate\t\tnvarchar(40)\t\t\tNULL\n\t, ShipVia\t\t\tint\t\t\t\tNULL\n\t, Freight\t\t\tmoney\t\t\tNULL\n\t, ShipName\t\t\tnvarchar(40)\tNULL\n\t, ShipAddress\t\tnvarchar(60)\tNULL\n\t, ShipCity\t\t\tnvarchar(15)\tNULL\n\t, ShipRegion\t\tnvarchar(15)\tNULL\n\t, ShipPostalCode\tnvarchar(10)\tNULL\n\t, ShipCountry\t\tnvarchar(15)\tNULL\n\t, TotalAmount\t\tmoney\t\t\tNULL\n)\nWITH \n(\n    LOCATION='/Rawdata/[dbo].[Order]/',\n    DATA_SOURCE=AzureStorage1,\n    FILE_FORMAT=TextFile\n);\n\nCREATE EXTERNAL TABLE dbo.ext_OrderDetail\n(\n\tOrderID\t\t\tint\t\t\t\tNOT NULL\n\t, ProductID\t\tint\t\t\t\tNOT NULL\n\t, UnitPrice\t\tmoney\t\t\tNOT NULL\n\t, Quantity\t\tsmallint\t\tNOT NULL\n\t, Discount\t\tnumeric(5, 4)\tNOT NULL\n)\nWITH \n(\n    LOCATION='/Rawdata/[dbo].[OrderDetail]/',\n    DATA_SOURCE=AzureStorage1,\n    FILE_FORMAT=TextFile\n);\nGO\n\n\n\n\n-- Step 5\n-- Create a sproc that imports the data using CTAS that can be called from Azure Data Factory:\n-- IMPORT into SQL Pool\nCREATE PROCEDURE usp_Import_factOrderData\nAS\nCREATE TABLE dbo.stage_factOrder\nWITH\n(   \n    DISTRIBUTION = ROUND_ROBIN\n\t, CLUSTERED COLUMNSTORE INDEX\n    \n)\nAS\nSELECT \n\to.[OrderID]\n\t,[CustomerID]\n\t,[EmployeeID]\n\t,CONVERT(date, [OrderDate]) AS [OrderDate]\n\t,CONVERT(date, [RequiredDate]) AS [RequiredDate]\n\t,CONVERT(date, [ShippedDate]) AS [ShippedDate]\n\t,[ShipVia]\n\t,[Freight]\n\t,[ShipName]\n\t,[ShipAddress]\n\t,[ShipCity]\n\t,[ShipRegion]\n\t,[ShipPostalCode]\n\t,[ShipCountry]\n\t,[TotalAmount]\n\t, d.ProductID\n\t, d.UnitPrice\n\t, d.Quantity\n\t, d.Discount\nFROM dbo.ext_Order AS o\nINNER JOIN dbo.ext_OrderDetail AS d ON o.OrderID = d.OrderID;\n\n\n-- INSERT into production table\nINSERT dbo.factOrder\n(\n\tProductKey\n\t, OrderDateKey\t\n\t, RequiredDateKey\n\t, ShippedDateKey\n\t, CustomerKey\n\t, ShipperKey\n\t, AddressKey\n\t, EmployeeKey\n\t, OrderID\n\t, UnitPrice\n\t, Quantity\n\t, Discount\n\t, LineTotal\n\t, Freight\n)\n\nSELECT \n\tISNULL(P.ProductKey, -1)\n\t, YEAR(OrderDate) * 10000 + MONTH(OrderDate) * 100 + DAY(OrderDate)\t\n\t, YEAR(RequiredDate) * 10000 + MONTH(RequiredDate) * 100 + DAY(RequiredDate)\n\t, ISNULL(YEAR(ShippedDate) * 10000 + MONTH(ShippedDate) * 100 + DAY(ShippedDate), '99991231')\n\t, ISNULL(C.CustomerKey, -1)\n\t, -1 -- ISNULL(S.ShipperKey, -1)\n\t, -1 -- ISNULL(A.AddressKey, -1)\n\t, -1 -- ISNULL(E.EmployeeKey, -1)\n\t, f.OrderID\n\t, f.UnitPrice\n\t, f.Quantity\n\t, f.Discount\n\t, f.UnitPrice * f.Quantity * (1 - f.Discount)\n\t, f.Freight\nFROM dbo.stage_factOrder f\nLEFT JOIN dbo.dimProduct P ON P.SourceKey = f.ProductID\nLEFT JOIN dbo.dimCustomer C ON C.SourceKey = f.CustomerID\n--LEFT JOIN dbo.dimShipper S ON S.SourceKey = f.ShipperID\n--LEFT JOIN dbo.dimAddress A ON A.ShipName = f.ShipName AND A.ShipAddress = f.ShipAddress\n--LEFT JOIN dbo.dimEmployee E ON E.EmployeeKey = f.EmployeeID\n;\n\n-- Drop the staging table\nDROP TABLE dbo.stage_factOrder;\n\n\n-- Create statistics on the new data\nCREATE STATISTICS [stats_CustomerKey] ON [factOrder] ([CustomerKey]);\nCREATE STATISTICS [stats_ProductKey] ON [factOrder] ([ProductKey]);\nCREATE STATISTICS [stats_OrderDateKey] ON [factOrder] ([OrderDateKey]);\n-- End procedure",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "RD_Sales_DM",
						"poolName": "RD_Sales_DM"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Pipeline 1')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[usp_Import_factOrderData]"
						},
						"linkedServiceName": {
							"referenceName": "AzureSynapseAnalyticsDF",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureSynapseAnalyticsDF')]"
			]
		}
	]
}